/// Fonts
$Cormorant: "Cormorant Unicase", serif;
$Prata: "Prata", serif;
$Plus: "Plus Jakarta Sans", sans-serif;

/// Colors
$primary-color: #404eed;
$primary-color-300: #5865f2;
$secondary-color: #23272a;
$dark-color: #000000e6;
$white-color: #f2f2f2;

$bg-light: #f4f6f8;
$bg-gray: #f6f6f6;

$white: #fff;
$black: #000;

$text-color: #7a7a7a;
$mid-grey: #777777;
$mid-grey2: #999999;

$secondary: #23272a;
$black: rgb(0, 0, 0, 0.9);
