@font-face {
  font-family: "gg sans normal";
  src: url("../assets/font/ggsans-Normal.ttf");
}

@font-face {
  font-family: "gg sans medium";
  src: url("../assets/font/ggsans-Medium.ttf");
}

@font-face {
  font-family: "gg sans bold";
  src: url("../assets/font/ggsans-ExtraBold.ttf");
}

@font-face {
  font-family: "gg sans bold italic";
  src: url("../assets/font/ggsans-ExtraBoldItalic.ttf");
}
