.error-404 {
  color: #2a2d3e;
  text-align: center;
  padding: 5.5rem 2.5rem;

  .page-title {
    font-size: clamp(42px, 15vw, 200px);
  }

  .btn-404 {
    padding: 0.75rem 3rem;
    background-color: #2a2d3e;
    color: #fff;
    border-radius: 8px;
    display: inline-block;
    margin-top: 2rem;
    &:hover {
      opacity: 90%;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }
  }
}
